@model DigitalTrainer.Models.MiRutina

@{
    ViewData["Title"] = "Mi Rutina";
}
<h4 class="text-center my-4" style=" font-size:20px; color:#FCFCFC"> Mi Rutina</h4>
<h1  style=" font-size:20px; color:#FCFCFC"> Agregar </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Musculo" style="font-size:20px; color:white;" class="control-label"></label>
                <input asp-for="Musculo" class="form-control" />
                <span asp-validation-for="Musculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ejercicio" style="font-size:20px; color:white;" class="control-label"></label>
                <textarea asp-for="Ejercicio" class="form-control"></textarea>
                <span asp-validation-for="Ejercicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" style="font-size:20px; color:white;" class="control-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" style="font-size:20px; color:white;" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="font-size:20px; color:white;" type="submit" value="Agregar" class="btn btn-primary" />
                <input style="font-size:20px; color:white;" type="reset" value="Cancelar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="font-size:20px; color:white;">Volver a la lista</a>
</div>

